h1{
    color: red;
    background-color: lightblue;
}

img{
    width: 500px;
}

.para {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }