div {
	background: yellow;
	border: 2px solid yellow;
	width: 70px;
	height: 70px;
	margin: 10px;
}

.main{
	display: flex;
	height: 100vh;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

}

.box2{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	

}

.box3{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
}
