.sectiongrid {
	border: 1px solid black;
	background-color:gainsboro;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr ;
	grid-template-columns: 1fr 3fr;
	grid-gap: 2rem 3rem;
	grid-template-rows: 90px 90px 90px 90px;
	padding: 2rem;
}

.red {
	background-color: red;
	width: 60%;



}

.blue {
	background-color: blue;
	grid-row: ;
}

.yellow {
	background-color: yellow;
	grid-column: 1 / 3;
	
}