nav {
    border: 2px solid black;
}

ul {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
nav * {
    border: 2px solid red;
    list-style: none;
}
.products {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}

.products div{
    border: 2px solid yellow;
    width: 33vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
}