/* .disappear{
	display: none;
} */

/* div {
	background-color: pink;
	font-size: 40px;
	padding: 30px;
} */

* {
	box-sizing: border-box;
	outline: 0;
}

section {
	display:  flex;
	justify-content: center;
	align-items: center;
	gap : 10px;
	margin-top:  10px;
}

.dropzone {
	width : 100px;
	height:  100px;
	border:  2px solid black;
	display:  flex;
	justify-content: center;
	align-items: center;
}

#boxToDrop{
	width : 90px;
	height:  90px;
	padding:  2px;
}

.draggedItem {
	border:  2px solid green;
	border-radius:  20%;
	background-color: lightgreen;
}

.startDragging {
	border:  2px solid blue;
	border-radius:  40%;
	background-color: lightblue;
}