/* style.css file */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: black;
	1:33
}
img {
	height: 70px;
	width: 70px;
}
h1{
	font-family: fantasy;
	color: white;
	font-size: 20px;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: black;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}
